@charset "utf8";
/* ebaaaaa!*/
/*
eu nao sou bonito serio tipo eu sou tipo muito feio pessoalmente e meu cabelo eu nao cortei meu cabelo pq voce pediu pra eu nao cortar(copypasta)
*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #8ACE00;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: auto;
}